@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ABeeZee';
  src: url('../fonts/ABeeZee-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


:root {
  --black: #000000;
  --lightblack: #232323;
  --gray: #6F6F6F;
  --lightGray: #EAECE7;
  --blue: #1c2a3b;
  --lightBlue: #4AC3F1;
  --lightBlueTwo: #23B1E8;
  --darkBlue: #11171F;
  --green: #62FFA1;
  --white: #ffffff;
  --fontManrope: 'Manrope', Arial, sans-serif;
  --fontABeeZee: 'ABeeZee', Arial, sans-serif;
  --fontRoboto: 'Roboto', Arial, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
  cursor: pointer;
}

body {
  background-color: var(--blue);
  /*сглаживание шрифтов*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  min-width: 1440px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  height: auto;
  min-height: 650px;
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 60px;
  width: 1920px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 714px 0;
  justify-content: space-between;
  background-color: var(--white)
}

.header__logo {
  width: 117px;
  height: 21px;
  margin-left: 212px;
  background: url('../img/logo.PNG');
}

.header__intel {
  position: relative;
  width: 66.82px;
  height: 24.84px;
  margin-right: 217.42px;
  background: url('../img/intel.png');
}

.header__intel-dot {
  width: 4.84px;
  height: 4.63px;
  background: #0068B5;
}

.intel {
  z-index: 0;
  position: absolute;
  left: 944px;
  top: 208.63px;
  width: 1139.84px;
  height: 910.74px;
  background: url('../img/desktop.png');
}

.intel__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 119.46px;
  left: 680.25px;
  width: 133.73px;
  height: 49.52px;
  background-color: var(--lightGray);
  border: 0.5px solid var(--white);
}

.intel__loading-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 131.9px;
  height: 47.79px;
  background-color: var(--lightGray);
  border: 0.5px solid var(--white);
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 131px;
  height: 8.52px;
}

.button__bg {
  width: 7.1px;
  height: 6.18px;
  background: #2C3746;
}

.button__bg-white {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 6.39px;
  height: 5.5px;
  background: var(--white);
}

.button__bg-gray {
  position: relative;
  width: 5.84px;
  height: 4.87px;
  background-color: #6D7C74;
}

.button__bg-img {
  position: absolute;
  left: 1.29px;
  top: 0.52px;
  width: 3.25px;
  height: 3.25px;
}

.loading {
  position: relative;
  width: 131px;
  height: 39.27px;
}

.loading-main {
  display: flex;
  align-items: center;
  position: absolute;
  top: 17.82px;
  left: 3.64px;
  width: 123.04px;
  height: 11px;
  padding: 0 0.79px;
  border: 0.5px solid #2C3746;
}

.loading-main-item:nth-child(23) {
  margin-right: 0;
}

.loading-main-item {
  width: 4.27px;
  height: 9.38px;
  margin-right: 1.1px;
  background: var(--lightBlueTwo);
}

.loading-main-hide {
  position: absolute;
  right: 0.79px;
  width: 122.41px;
  height: 9.38px;
  background: var(--lightGray);
  -webkit-animation: linear 15s show-loading infinite;
}

@keyframes show-loading {
  100% {
    width: 0;
  }
}

.intel__evo {
  position: absolute;
  left: 268.44px;
  top: 74.49px;
  width: 179.9px;
  height: 109.63px;
  background: url('../img/intel_evo.png');
}

.intel__shadow {
  position: absolute;
  left: 528px;
  top: 649px;
  width: 313px;
  height: 58px;
  background: radial-gradient(50% 50% at 50% 50%, var(--black) 0%, rgba(28, 45, 63, 0) 100%);
  -webkit-animation: linear 1.5s jump-shadow infinite;
}

@-webkit-keyframes jump-shadow {

  15% {
    background: radial-gradient(50% 50% at 50% 50%, var(--black) 0%, rgba(28, 45, 63, 0)103%);
  }

  25% {
    background: radial-gradient(50% 50% at 50% 50%, var(--black) 0%, rgba(28, 45, 63, 0)105%);
  }

  50% {
    background: radial-gradient(50% 50% at 50% 50%, var(--black) 0%, rgba(28, 45, 63, 0)110%);
  }

  75% {
    background: radial-gradient(50% 50% at 50% 50%, var(--black) 0%, rgba(28, 45, 63, 0)105%);
  }

  85% {
    background: radial-gradient(50% 50% at 50% 50%, var(--black) 0%, rgba(28, 45, 63, 0)103%);
  }
}

.intel__i7 {
  position: absolute;
  left: 620px;
  top: 509.37px;
  width: 130px;
  height: 162px;
  background: url('../img/evo-i7.png');
  -webkit-animation: linear 1.5s jump infinite;
}

@-webkit-keyframes jump {
  50% {
    top: 490px
  }
}

.hero__special {
  position: absolute;
  left: 1010px;
  top: 149px;
  width: 132px;
  color: var(--lightBlue);
  font: 12px / 15px var(--fontManrope);
  letter-spacing: 6px;
  text-transform: uppercase;
}

.main {
  width: 1298px;
}

.main__line {
  position: absolute;
  left: 0;
  top: 510px;
  width: 802px;
  height: 1px;
  background-color: var(--lightBlueTwo);
  color: var(--lightBlue);
  border: none;
  -webkit-animation: ease-in 1.5s surfacing-line;
}

@-webkit-keyframes surfacing-line {
  0% {
    top: 610px;
    opacity: 0;
  }

  100% {
    top: 510px;
    opacity: 1;
  }
}

.main__circle {
  position: absolute;
  top: 514px;
  left: 802px;
  width: 9px;
  height: 9px;
  background-color: var(--lightBlueTwo);
  border-radius: 90px;
  -webkit-animation: ease-in 1.5s surfacing-circle;
}

@-webkit-keyframes surfacing-circle {
  0% {
    top: 614px;
    opacity: 0;
  }

  100% {
    top: 514px;
    opacity: 1;
  }
}

.main__content {
  position: absolute;
  top: 180px;
  -webkit-animation: ease-in 1.5s surfacing;
}

@-webkit-keyframes surfacing {
  0% {
    top: 280px;
    opacity: 0;
  }

  100% {
    top: 180px;
    opacity: 1;
  }
}

.main__title {
  display: flex;
  margin-bottom: 24px;
  width: 864px;
  height: 116px;
  font: 108px / 108px var(--fontManrope);
  font-weight: bold;
}

.main__title-text {
  color: var(--lightBlueTwo);
}

.main__title-text--color {
  color: var(--white);
}

.main__text {
  font: 48px / 51px var(--fontManrope);
  color: var(--white);
  width: 641px;
  height: 160px;
  margin-bottom: 90px;
}

.main__content-text {
  width: 641px;
  height: 70px;
  font: 18px / 24px var(--fontABeeZee);
  color: var(--white);
  margin-bottom: 135px;
  /*302px*/
}

.main__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
}

.main__body-arrow {
  width: 37px;
  height: 39px;
  margin-bottom: 139px;
}

.main__body-description {
  z-index: 1;
  width: 600px;
  height: 147px;
  font: 16px / 24px var(--fontABeeZee);
  color: var(--white);
}

.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px 0 56px 0;
}

.share__icon {
  display: flex;
  margin-bottom: 15px;
}

.share__icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--black);
  background: var(--green);
  box-shadow: 0px 4px 36px rgba(98, 255, 161, 0.5);
  /* font-size: 30px; */
  border-radius: 56px;
  cursor: pointer;
  margin-right: 8px;
}

.share__icon-item:last-child {
  margin-right: 0;
}

.share__icon-item:hover {
  color: var(--green);
  background: var(--white);
}

.share__link {
  font: 12px / 15px var(--fontManrope);
  color: var(--green);
  letter-spacing: 6px;
  text-transform: uppercase;
}


.main__body-bg {
  z-index: -1;
  position: absolute;
  width: 2140px;
  height: 2140px;
  left: -110px;
  top: 666px;
  background: radial-gradient(50% 50% at 50% 50%, #52E5FF 0%, var(--blue) 70%);
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1184px;
  height: 966px;
  background: var(--darkBlue);
  margin-bottom: 64px;
}

.articles__body {
  display: flex;
  flex-wrap: wrap;
  width: 976px;
  height: 1349px;
  margin: 139px 104px 100px 104px;
}

.articles__body-item {
  display: flex;
  flex-direction: column;
  width: 472px;
}

.articles__body-img {
  width: 472px;
  height: 236px;
}

.articles__body-topic {
  font: 24px / 30px var(--fontABeeZee);
  color: var(--white);
  margin-top: 24px;
}

.articles__body-item:nth-child(2) {
  margin-right: 32px;
}

.articles__body-item:nth-child(1) {
  flex-direction: row;
  background: var(--white);
  height: 325px;
  width: 976px;
  margin-bottom: 56px;
}

.articles__body-item:nth-child(1) .articles__body-img {
  width: 650px;
  height: 325px;
}

.articles__body-item:nth-child(1) .articles__body-topic {
  color: var(--black);
  margin: 24px 16px 0 16px;
}

.main__body-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 331px;
  height: 60px;
  background: var(--green);
  box-shadow: 0px 4px 36px rgba(98, 255, 161, 0.5);
  border-radius: 56px;
  margin: 56px 0 42px 0;
  font: 16px / 24px var(--fontABeeZee);
  color: var(--black);
}

.main__body-buy:hover {
  color: var(--green);
  background: var(--white);
}

.main__body-evo {
  width: 1280px;
  height: 562px;
  background: url('../img/20CY1_Ginger_Masthead.png');
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-between;
  width: 1500px;
  height: 68px;
}

.footer__text {
  width: 575px;
  height: 47px;
  font: 16px / 24px var(--fontRoboto);
  color: var(--gray);
  text-decoration-line: underline;
}

.footer__coprights {
  display: flex;
  font: 16px / 24px var(--fontABeeZee);
}

.footer__coprights-link {
  text-decoration-line: underline;
  color: var(--green);
}

.footer__coprights-text {
  color: var(--white);
}